{varType string $themeSwitchId}
{default bool $icon = false}
{default ?string $class = null}
<button
		id="{$themeSwitchId}"
		aria-label="{_'Toggle theme'}"
		data-theme-switcher
		data-theme-light-label="{_'Light mode'}"
		data-theme-dark-label="{_'Dark mode'}"
		n:class="'btn btn-link theme-switcher text-decoration-none', $class"
		type="button"
>
	<i n:if="$icon" data-theme-switcher-icon class="fa-solid fa-moon"></i>
	<span data-theme-switcher-label>{_'Dark mode'}</span>
</button>
