# default translate
"Translate": "Překlad"

# backend
"Czech": "Čeština"
"English": "Angličtina"
"System": "Systém"
"User": "Uživatel"
"Sign out": "Odhlásit se"
"Dashboard": "Přehled"
"Welcome to the administration welcome page.": "Vítejte na úvodní stránce administrace."
